<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.RegisterMapper">
	<!-- 根据状态和姓名、病历号取得当天患者信息（分页、查询） -->
	<select id="getPatientByState" resultType="java.util.Map">
	SELECT *
	FROM register
	WHERE date(visit_date) = date(now())
		<if test="employee_id!=null and employee_id!=''">
			AND employee_id = #{employee_id}
		</if>
		<if test="case_number!=null and case_number!=''">
			AND case_number = #{case_number}
		</if>
		<if test="real_name!=null and real_name!=''">
			AND real_name = #{real_name}
		</if>
		<if test="visit_state!=null and visit_state!=''">
			AND visit_state = #{visit_state}
		</if>
		ORDER BY visit_date DESC
		LIMIT ${(nowPageNumber-1) * pageSize} ,#{pageSize}
	</select>	
	<!-- 根据状态和姓名、病历号取得当天患者信息数量（查询） -->
	<select id="getPatientByStateCount" resultType="java.lang.Integer">
	SELECT count(*)
	FROM register
	WHERE date(visit_date) = date(now())
		<if test="employee_id!=null and employee_id!=''">
			AND employee_id = #{employee_id,jdbcType=INTEGER}
		</if>
		<if test="case_number!=null and case_number!=''">
			AND case_number = #{case_number,jdbcType=VARCHAR}
		</if>
		<if test="real_name!=null and real_name!=''">
			AND real_name = #{real_name,jdbcType=VARCHAR}
		</if>
		<if test="visit_state!=null and visit_state!=''">
			AND visit_state = #{visit_state,jdbcType=VARCHAR}
		</if>
	</select>
	
	<!-- 取得患者看诊记录（分页、查询） -->
	<select id="getAllPatient" resultType="java.util.Map">
	SELECT *
	FROM register
	WHERE visit_state in (1,2,3)
		<if test="(case_number==null or case_number=='') and (real_name==null or real_name=='') ">
			AND date(visit_date) = date(now())
		</if>
		<if test="case_number!=null and case_number!=''">
			AND case_number = #{case_number}
		</if>
		<if test="real_name!=null and real_name!=''">
			AND real_name = #{real_name}
		</if>
		ORDER BY visit_date DESC
		LIMIT ${(nowPageNumber-1) * pageSize} ,#{pageSize}
	</select>
	<!-- 取得患者看诊记录数量（分页、查询） -->
	<select id="getAllPatientCount" resultType="java.lang.Integer">
	SELECT count(*)
	FROM register
	WHERE visit_state in (1,2,3)
		<if test="(case_number==null or case_number=='') and (real_name==null or real_name=='') ">
			AND date(visit_date) = date(now())
		</if>
		<if test="case_number!=null and case_number!=''">
			AND case_number = #{case_number}
		</if>
		<if test="real_name!=null and real_name!=''">
			AND real_name = #{real_name}
		</if>
	</select>
	
	<!-- 添加注册信息 -->
  	<insert id="addRegister" parameterType="java.util.Map">
    INSERT INTO register
    <trim prefix='(' suffix=")" suffixOverrides=",">
    	<if test="id != null and id != '' ">
    		id,
    	</if>
    	<if test="case_number != null and case_number !='' ">
    		case_number,
    	</if>
    	<if test="real_name != null and real_name !='' ">
    		real_name,
    	</if>
    	<if test="gender != null and gender !='' ">
    		gender,
    	</if>
    	<if test="card_number != null and card_number !='' ">
    		card_number,
    	</if>
    	<if test="birthday != null and birthday !='' ">
    		birthday,
    	</if>
    	<if test="age != null and age !='' ">
    		age,
    	</if>
    	<if test="age_type != null and age_type !='' ">
    		age_type,
    	</if>
    	<if test="home_address != null and home_address != '' ">
    		home_address,
    	</if>
    	<if test="visit_date != null ">
    		visit_date,
    	</if>    	
    	<if test="noon != null and noon != '' ">
    		noon,
    	</if>
    	<if test="deptment_id != null and deptment_id != '' ">
    		deptment_id,
    	</if>
    	<if test="employee_id != null and employee_id !='' ">
    		employee_id,
    	</if>
    	<if test="regist_level_id != null and regist_level_id !='' ">
    		regist_level_id,
    	</if>
    	<if test="settle_category_id != null and settle_category_id !='' ">
    		settle_category_id,
    	</if>
    	<if test="is_book != null and is_book != '' ">
    		is_book,
    	</if>
    	<if test="regist_method != null and regist_method !='' ">
    		regist_method,
    	</if>
    	<if test="regist_money != null and regist_money != '' ">
    		regist_money,
    	</if>
    	<if test="visit_state != null  and visit_state !='' ">
    		visit_state,
    	</if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
    	<if test="id != null and id != '' ">
    		#{id,jdbcType=INTEGER},
    	</if>
    	<if test="case_number != null and case_number !='' ">
    		#{case_number,jdbcType=VARCHAR},
    	</if>
    	<if test="real_name != null and real_name !='' ">
    		#{real_name,jdbcType=VARCHAR},
    	</if>
    	<if test="gender != null and gender !='' ">
    		#{gender,jdbcType=VARCHAR},
    	</if>
    	<if test="card_number != null and card_number !='' ">
    		#{card_number,jdbcType=VARCHAR},
    	</if>
    	<if test="birthday != null and birthday !='' ">
    		#{birthday,jdbcType=DATE},
    	</if>
    	<if test="age != null and age !='' ">
    		#{age,jdbcType=INTEGER},
    	</if>
    	<if test="age_type != null and age_type !='' ">
    		#{age_type,jdbcType=VARCHAR},
    	</if>
    	<if test="home_address != null and home_address != '' ">
    		#{home_address,jdbcType=VARCHAR},
    	</if>
    	<if test="visit_date != null ">
    		#{visit_date,jdbcType=TIMESTAMP},
    	</if>    	
    	<if test="noon != null and noon != '' ">
    		#{noon,jdbcType=VARCHAR},
    	</if>
    	<if test="deptment_id != null and deptment_id != '' ">
    		#{deptment_id,jdbcType=INTEGER},
    	</if>
    	<if test="employee_id != null and employee_id !='' ">
    		#{employee_id,jdbcType=INTEGER},
    	</if>
    	<if test="regist_level_id != null and regist_level_id !='' ">
    		#{regist_level_id,jdbcType=INTEGER},
    	</if>
    	<if test="settle_category_id != null and settle_category_id !='' ">
    		#{settle_category_id,jdbcType=INTEGER},
    	</if>
    	<if test="is_book != null and is_book != '' ">
    		#{is_book,jdbcType=VARCHAR},
    	</if>
    	<if test="regist_method != null and regist_method !='' ">
    		#{regist_method,jdbcType=VARCHAR},
    	</if>
    	<if test="regist_money != null and regist_money != '' ">
    		#{regist_money,jdbcType=DECIMAL},
    	</if>
    	<if test="visit_state != null and visit_state !='' ">
    		#{visit_state,jdbcType=INTEGER},
    	</if>
    </trim>
  </insert>
  
  <!--  已挂号数量统计    按照日期  午别 医生 统计   visit_state状态为 1、2、3  -->
  <select id="getAlreadyRegisterCount" resultType="java.lang.String">
      SELECT  COUNT(*)
      FROM register 
      WHERE visit_state &lt; 4      
      <if test="visitDate!=null and visitDate!='' ">
          AND visit_date =#{visitDate}
      </if>
      <if test="noon!=null and noon!='' ">
          AND noon =#{noon}
      </if>
      <if test="employeeId!=null and employeeId!='' ">
          AND employee_id =#{employeeId}
      </if>
  </select>
  
  <!-- 根据属性查询数据 -->
  <select id="getRegisterByProperty" parameterType="java.util.Map" resultType="java.util.Map">
  SELECT *
  FROM register
  WHERE 1=1
  <if test="case_number!=null and case_number!='' ">
      AND case_number=#{case_number}
  </if>
  <if test="real_name!=null and real_name!='' ">
      AND real_name=#{real_name}
  </if>
  <if test="gender!=null and gender!='' ">
      AND gender=#{gender}
  </if>
  <if test="card_number!=null and card_number!='' ">
      AND card_number=#{card_number}
  </if>
  <if test="birthday!=null and birthday!='' ">
      AND birthday=#{birthday}
  </if>
  <if test="age!=null and age!='' ">
      AND age=#{age}
  </if>
  <if test="age_type!=null and age_type!='' ">
      AND age_type=#{age_type}
  </if>
  <if test="home_address!=null and home_address!='' ">
      AND home_address=#{home_address}
  </if>
  <if test="visitDate!=null and visitDate!='' ">
      AND visit_date =#{visitDate}
  </if>
  <if test="noon!=null and noon!='' ">
      AND noon=#{noon}
  </if>
  <if test="deptment_id!=null and deptment_id!='' ">
      AND deptment_id=#{deptment_id}
  </if>
  <if test="employee_id!=null and employee_id!='' ">
      AND employee_id=#{employee_id}
  </if>
  <if test="regist_level_id!=null and regist_level_id!='' ">
      AND regist_level_id=#{regist_level_id}
  </if>
  <if test="settle_category_id!=null and settle_category_id!='' ">
      AND settle_category_id=#{settle_category_id}
  </if>
  <if test="is_book!=null and is_book!='' ">
      AND is_book=#{is_book}
  </if>
  <if test="regist_method!=null and regist_method!='' ">
      AND regist_method=#{regist_method}
  </if>
  <if test="visit_state!=null and visit_state!='' ">
      AND visit_state=#{visit_state}
  </if>
  <if test="regist_money!=null and regist_money!='' ">
      AND regist_money=#{regist_money}
  </if>
  </select>
  
  <!-- 根据id更改患者挂号状态 -->
  <update id="updateStateById">
  UPDATE register
  SET 
  	visit_state=#{visit_state,jdbcType=INTEGER}
  WHERE
  	id=#{id,jdbcType=INTEGER}
  </update>
  
  <!-- 得到最大病例号 -->
  <select id="getMaxCaseNumber"  resultType="java.lang.String">
  SELECT max(case_number)
  FROM register
  </select>
  
  
  
  <!-- 根据病历号、用户名、状态取得患者（分页、查询） -->
	<select id="getPagePatientByState" resultType="java.util.Map">
	SELECT *
	FROM register
	WHERE visit_state = #{visit_state}
		<if test="(case_number==null or case_number=='') and (real_name==null or real_name=='') ">
			AND date(visit_date) = date(now())
		</if>
		<if test="case_number!=null and case_number!=''">
			AND case_number = #{case_number}
		</if>
		<if test="real_name!=null and real_name!=''">
			AND real_name = #{real_name}
		</if>
		ORDER BY visit_date DESC
		LIMIT ${(nowPageNumber-1) * pageSize} ,#{pageSize}
	</select>
	<!-- 根据病历号、用户名、状态取得患者数量（分页、查询） -->
	<select id="getPagePatientByStateCount" resultType="java.lang.Integer">
	SELECT count(*)
	FROM register
	WHERE visit_state = #{visit_state}
		<if test="(case_number==null or case_number=='') and (real_name==null or real_name=='') ">
			AND date(visit_date) = date(now())
		</if>
		<if test="case_number!=null and case_number!=''">
			AND case_number = #{case_number}
		</if>
		<if test="real_name!=null and real_name!=''">
			AND real_name = #{real_name}
		</if>
	</select>
</mapper>